annotated-types==0.7.0
anyio==3.7.1
asgiref==3.11.0
black==25.12.0
boto3==1.42.34
botocore==1.42.34
dj-database-url==3.1.0
Django==5.2.10
django-cors-headers==4.9.0
django-storage-supabase==0.1.0
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
gunicorn==24.1.1
isort==7.0.0
packaging==25.0
pathspec==1.0.2
pillow==12.1.0
psycopg-binary==3.3.2
psycopg2-binary==2.9.11
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyiceberg==0.10.0
PyJWT==2.10.1
pyparsing==3.3.2
pyroaring==1.0.3
pytest==6.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.3.0
PyYAML==6.0.3
qrcode==8.2
realtime==2.27.2
requests==2.25.1
storage3==2.27.2
strictyaml==1.7.3
supabase-auth==2.27.2
supabase-functions==2.27.2
toml==0.10.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==1.26.20
yarl==1.22.0
